<div class="center jumbotron">
  <div class="text-center">
    <h1>My Book Blog</h1>
    <h2>お気に入りの本や漫画について感想を伝え合おう！</h2>
    <button type="button" class="btn btn-primary">ログイン</button>
    <%= link_to '新規登録', signup_path, class: 'btn btn-primary' %>
  </div>
</div>